<h2>New Product</h2>
<small class="text-muted">Want to add many new products at once? <a href="/admin/import">Try uploading in bulk instead.</a></small> 
<br />
<br />
<%= render 'form', product: @product %>